<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>API_KEY</key>
  <string>FILL_LOCALLY</string>
  <key>PROJECT_ID</key>
  <string>wbis-ba283</string>
  <key>STORAGE_BUCKET</key>
  <string>wbis-ba283.firebasestorage.app</string>
</dict>
</plist>
